*{
    padding: 20px;
   
}
p{
    font-size: 20px;    
}
h1{
    font-size: 30px;
}
img{
    width:1000px;
    height: 600px;
}
#content_1{
    column-count: 4;
    column-width: 13px;
    column-gap: 10px;
}
#content_2{
    columns: 3 15px;
}
.news{
    border: 5px solid black;
    width: 1050px;
    flex-wrap: wrap;
}
