.flex-container{
    border: 5px solid black;
    padding: 10px;
}
.flex-item{
    padding: 30px;
    border: 5px solid red;
    margin: 10px;
    font-size: medium;
    font-weight: bold;
}
/* flex */
.flex-container{
    display: flex;
}
.nowrap{
    flex-direction: row;
    flex-wrap: nowrap;
}
.wrap{
    flex-direction: column-reverse;
    flex-wrap: wrap;
}
.wrap-reverse{
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
